name django.deploy
on:
push:
  branches:
    - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Set up docker
        uses: actions/setup-docker@v1
        with:
          docker-version: 20.10.12
      
      - name: run deploy script
        run: |
          chmod +x ./build.sh
        ./build.sh
              
